#!/usr/bin/env python

'''
  DAVID LETTIER
  (C) 2015.

  http://www.lettier.com/

  Slackotron--An extensible slack bot.
'''

'''
  DUCKDUCKGO_API_URL

  The API end point.
'''

DUCKDUCKGO_API_URL = 'http://api.duckduckgo.com/'
