BeautifulSoup==3.2.1
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pattern==2.6
Unidecode==0.04.17
Werkzeug==0.9.6
amqp==1.4.6
anyjson==0.3.3
## FIXME: could not find svn URL in dependency_links for this package:
apsw==3.8.5-r1
beautifulsoup4==4.3.2
billiard==3.3.0.19
celery==3.1.17
colorama==0.3.2
httplib2==0.9
itsdangerous==0.24
jsonrpclib-pelix==0.2.2
kombu==3.0.24
logutils==0.3.3
nltk==3.0.0
numpy==1.9.1
peewee==2.4.5
pexpect==3.3
pika==0.9.14
pysqlite==2.6.3
pytz==2014.10
rainbow-logging-handler==2.2.2
redis==2.10.3
requests==2.5.1
simplejson==3.6.5
suds==0.4
textblob==0.9.0
wikipedia==1.4.0
wsgiref==0.1.2
