html {
  height: 100%;
}
body {
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow-y: hidden;
}
table {
  table-layout: fixed;
}
h5.copyright {
  float: right;
  margin-right: 10px;
}
