#!/usr/bin/env python

'''
  DAVID LETTIER
  (C) 2015.

  http://www.lettier.com/

  Slackotron--An extensible slack bot.
'''

'''
  EXCLUDE

  Valid options are [ "explicit", "nerdy"].
'''

EXCLUDE = "[explicit]"
