#!/usr/bin/env python

'''
  DAVID LETTIER
  (C) 2015.

  http://www.lettier.com/

  Slackotron
'''

'''
  API_ENDPOINT

  The API endpoint.
'''

API_ENDPOINT = 'http://forecast.weather.gov/zipcity.php'

'''
  ZIP
'''

ZIP = '90210'

'''
  USE_FAHRENHEIT

  Use Fahrenheit if true, otherwise use Celsius.
'''

USE_FAHRENHEIT = True
