#!/usr/bin/env python

'''
  DAVID LETTIER
  (C) 2015.

  http://www.lettier.com/

  Slackotron
'''

'''
  NETLINGO_URL

  The HTTP page endpoint.
'''

NETLINGO_URL = 'http://www.netlingo.com/acronyms.php'
