#!/usr/bin/env python

'''
  DAVID LETTIER
  (C) 2015.

  http://www.lettier.com/

  Slackotron
'''

'''
  API_URL
'''

API_URL = 'http://api.openbeerdatabase.com/v1/beers.json'

'''
  ORDER

  Valid options are id, name, created_at, and updated_at
  for the column and ASC and DESC for the direction.
'''

ORDER = 'updated_at DESC'
