#!/usr/bin/env python

'''
  DAVID LETTIER
  (C) 2015.

  http://www.lettier.com/

  SLACKOTRON

  An extensible Slack bot.
'''

'''
  API_URL
'''

API_URL = 'http://www.yodaspeak.co.uk/webservice/yodatalk.php?wsdl'

'''
  ACTIVATION_PROBABILITY

  The percentage of the time that the plugin with give a response.
'''

ACTIVATION_PROBABILITY = 20
