{% include 'header.html' %}
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-12'>
        <table class='table table-condensed'>
          <caption>Channels ({{channel_count}})</caption>
          <thead>
            <tr>
              <th class='col-sm-1'>Slack Name</th>
              <th class='col-sm-1'>Slack ID</th>
              <th class='col-sm-1'>Is Direct?</th>
              <th class='col-sm-1'>Is Secure?</th>
              <th class='col-sm-1'>Make Secure?</th>
              <th class='col-sm-1'>Make Insecure?</th>
            <tr>
          </thead>
        </table>
        <div class='table-content'>
          <table class='table table-condensed table-hover'>
            <tbody>
              {% for direct_channel in direct_channels %}
                <tr>
                  <td class='col-sm-1'>{{direct_channel.direct_channel_user_name()}}</td>
                  <td class='col-sm-1'>{{direct_channel.slack_id}}</td>
                  <td class='col-sm-1'>{{direct_channel.is_direct}}</td>
                  <td class='col-sm-1' id='is_secure_{{direct_channel.id}}'>{{direct_channel.is_secure}}</td>
                  <td class='col-sm-1'>
                    <button id='make_secure_{{direct_channel.id}}' channel_id='{{direct_channel.id}}' class='btn btn-info' onclick='make_secure(this);'>
                      Yes
                    </button>
                  </td>
                  <td class='col-sm-1'>
                    <button id='make_insecure_{{direct_channel.id}}' channel_id='{{direct_channel.id}}' class='btn btn-danger' onclick='make_insecure(this);'>
                      Yes
                    </button>
                  </td>
                </tr>
              {% endfor %}
              {% for channel in channels %}
                <tr>
                  <td class='col-sm-1'>{{channel.slack_name}}</td>
                  <td class='col-sm-1'>{{channel.slack_id}}</td>
                  <td class='col-sm-1'>{{channel.is_direct}}</td>
                  <td class='col-sm-1' id='is_secure_{{channel.id}}'>{{channel.is_secure}}</td>
                  <td class='col-sm-1'>
                    <button id='make_secure_{{channel.id}}' channel_id='{{channel.id}}' class='btn btn-info' onclick='make_secure(this);'>
                      Yes
                    </button>
                  </td>
                  <td class='col-sm-1'>
                    <button id='make_insecure_{{channel.id}}' channel_id='{{channel.id}}' class='btn btn-danger' onclick='make_insecure(this);'>
                      Yes
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript'>
    function make_secure(button) {
      var channel_id = button.getAttribute('channel_id');
      promise.put(
        '/channels/' + channel_id,
        JSON.stringify({is_secure: true}),
        {'Content-type': 'application/json'}
      ).then( function(error, text, xhr) {
        if (error) {
          alert('Error!\n' + xhr.status);
        }
        else {
          button.innerHTML = 'Done!';
          button.className = 'btn btn-success';
          button.onclick = '';
          update_is_secure(channel_id, 'True');
          window.setTimeout( function() {
            button.innerHTML = 'Yes';
            button.className = 'btn btn-info';
            button.onclick = function() { make_secure(button); };
          }, 2000);
        }
      })
    }
    function make_insecure(button) {
      var channel_id = button.getAttribute('channel_id');
      if (confirm('Are you sure?')) {
        promise.put(
          '/channels/' + channel_id,
          JSON.stringify({is_secure: false}),
          {'Content-type': 'application/json'}
        ).then( function(error, text, xhr) {
          if (error) {
            alert('Error!\n' + xhr.status);
          }
          else {
            button.innerHTML = 'Done!';
            button.className = 'btn btn-success';
            button.onclick = '';
            update_is_secure(channel_id, 'False');
            window.setTimeout( function() {
              button.innerHTML = 'Yes';
              button.className = 'btn btn-danger';
              button.onclick = function() { make_insecure(button); };
            }, 2000);
          }
        })
      }
    }
    function update_is_secure(channel_id, state) {
      var table_cell = document.getElementById('is_secure_' + channel_id)
      table_cell.innerHTML = state
    }
  </script>
{% include 'footer.html' %}
