    <footer id='footer' class='footer'>
      <h5 id='copyright' class='copyright'>
        <i class='fa fa-copyright'></i>
        &nbsp;David&nbsp;
        <a href='#' onclick="javascript: window.open('//www.lettier.com')">
          Lettier
        </a>
        <span id='year'></span>.
      </h5>
    </footer>
    <script type='text/javascript'>
      document.getElementById('year').innerHTML = new Date().getFullYear();
      var styleSheets = document.styleSheets;
      var localStyleSheet = null;
      for (var i = 0; i < styleSheets.length; ++i) {
        if (styleSheets[i].href.indexOf('localhost') > -1) {
          localStyleSheet = styleSheets[i];
          break;
        }
      }
      /*
        71 Navigation
        87 Table Headers
        15 Footer
      */
      var tableContentHeight = Math.floor(((window.innerHeight - 71 - 87 - 15) / window.innerHeight) * 100) - 2;
      var length = localStyleSheet.cssRules.length; // Firefox
      localStyleSheet.insertRule(
        '.table-content {overflow-y: auto; height: ' + tableContentHeight + 'vh;}',
        length
      );
    </script>
  </body>
</html>
